<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.leonardarnold.mpossample">

    <!-- Required for pairing with bluetooth shuttle -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MPosSampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">

        <!-- payleven service -->
        <service
            android:name="de.payleven.payment.PaylevenCommunicationService"
            android:exported="false"
            android:process=":payleven" />

        <!-- Required for bluetooth communication with the terminal -->
        <receiver android:name="com.adyen.adyenpos.receiver.BluetoothState">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.UUID" />
            </intent-filter>
        </receiver>

        <!-- Required for bluetooth communication with the terminal -->
        <service android:name="com.adyen.adyenpos.service.TerminalConnectIntentService" />

        <!-- only portrait because of the Numpad -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".session.LoginActivity"
            android:label="@string/login_activity_name" />

        <activity
            android:name=".device.DeviceActivity"
            android:label="@string/device_activity_name" />

        <activity
            android:name=".payment.ResultActivity"
            android:label="@string/result_activity_name" />

        <activity
            android:name=".payment.signature.SignatureActivity"
            android:label="@string/signature_activity_name" />

        <activity
            android:name=".payment.ResultDetailsActivity"
            android:label="@string/result_show_details" />

        <!-- only portrait because boatrental layout is made static
         and not responsive - only an example -->
        <activity
            android:name=".payment.BoatRentalActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

    </application>

</manifest>
